extends ../layouts/base

block variables
  - var title='Пользователи';
  - var pageClass='users';

block content
  .main
    .container
      .main__tabs
        .main__tabs_header 
          button.bids-add(data-call-modal="add-user-modal") 
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M19 12.998H13V18.998H11V12.998H5V10.998H11V4.99799H13V10.998H19V12.998Z" fill="#637381" />
            </svg>
            p Добавить пользователя
        .table-wrapper
          table.table
            thead
              tr
                th ФИО пользователя
                th Действия
            tbody
              tr
                td(data-call-modal="info-user-modal") Дмитрий А. В.
                td(style="justify-content: flex-end;") 
                  .table-controls
                    button.btn-edit(data-call-modal="edit-user-modal")
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7092 1.75083C14.3685 0.0908289 17.0599 0.0908289 18.7192 1.75083C20.3792 3.41011 20.3792 6.10083 18.7192 7.76083L7.43851 19.0416H19.2857C19.6799 19.0416 19.9999 19.3609 19.9999 19.7559C19.9999 20.1501 19.6799 20.4701 19.2857 20.4701H0.714225C0.319939 20.4701 -6.10352e-05 20.1501 -6.10352e-05 19.7559V14.7559C-6.10352e-05 14.5666 0.0749602 14.3844 0.209246 14.2508L12.7092 1.75083ZM5.41851 19.0416L15.0614 9.39871L11.0714 5.40871L1.42851 15.0516V19.0416H5.41851ZM12.0814 4.39871L16.0714 8.38871L17.7092 6.75083C18.8107 5.64869 18.8107 3.86226 17.7092 2.76083C16.6071 1.65869 14.8213 1.65869 13.7192 2.76083L12.0814 4.39871Z" fill="#2995E2" />
                      </svg>
                    button.btn-delete(data-call-modal="delete-user-modal")
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.71422 2.63083C5.71422 1.44726 6.67351 0.487976 7.85708 0.487976H12.1428C13.3264 0.487976 14.2857 1.44726 14.2857 2.63083V3.34512H19.2857C19.6799 3.34512 19.9999 3.66512 19.9999 4.0594C19.9999 4.45369 19.6799 4.77369 19.2857 4.77369H17.8571V16.9165C17.8571 18.8887 16.2578 20.488 14.2857 20.488H5.71422C3.74208 20.488 2.1428 18.8887 2.1428 16.9165V4.77369H0.714225C0.319939 4.77369 -6.10352e-05 4.45369 -6.10352e-05 4.0594C-6.10352e-05 3.66512 0.319939 3.34512 0.714225 3.34512H5.71422V2.63083ZM7.1428 3.34512H12.8571V2.63083C12.8571 2.23655 12.5371 1.91655 12.1428 1.91655H7.85708C7.4628 1.91655 7.1428 2.23655 7.1428 2.63083V3.34512ZM3.57137 4.77369V16.9165C3.57137 18.1001 4.53065 19.0594 5.71422 19.0594H14.2857C15.4692 19.0594 16.4285 18.1001 16.4285 16.9165V4.77369H3.57137ZM9.99994 6.91655C10.3942 6.91655 10.7142 7.23655 10.7142 7.63083V16.2023C10.7142 16.5965 10.3942 16.9165 9.99994 16.9165C9.60565 16.9165 9.28565 16.5965 9.28565 16.2023V7.63083C9.28565 7.23655 9.60565 6.91655 9.99994 6.91655Z" fill="#FF0000" />
                      </svg>
              tr 
                td(data-call-modal="info-user-modal") Дмитрий А. В.
                td(style="justify-content: flex-end;") 
                  .table-controls
                    button.btn-edit(data-call-modal="edit-user-modal") 
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7092 1.75083C14.3685 0.0908289 17.0599 0.0908289 18.7192 1.75083C20.3792 3.41011 20.3792 6.10083 18.7192 7.76083L7.43851 19.0416H19.2857C19.6799 19.0416 19.9999 19.3609 19.9999 19.7559C19.9999 20.1501 19.6799 20.4701 19.2857 20.4701H0.714225C0.319939 20.4701 -6.10352e-05 20.1501 -6.10352e-05 19.7559V14.7559C-6.10352e-05 14.5666 0.0749602 14.3844 0.209246 14.2508L12.7092 1.75083ZM5.41851 19.0416L15.0614 9.39871L11.0714 5.40871L1.42851 15.0516V19.0416H5.41851ZM12.0814 4.39871L16.0714 8.38871L17.7092 6.75083C18.8107 5.64869 18.8107 3.86226 17.7092 2.76083C16.6071 1.65869 14.8213 1.65869 13.7192 2.76083L12.0814 4.39871Z" fill="#2995E2" />
                      </svg>
                    button.btn-delete(data-call-modal="delete-user-modal")
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.71422 2.63083C5.71422 1.44726 6.67351 0.487976 7.85708 0.487976H12.1428C13.3264 0.487976 14.2857 1.44726 14.2857 2.63083V3.34512H19.2857C19.6799 3.34512 19.9999 3.66512 19.9999 4.0594C19.9999 4.45369 19.6799 4.77369 19.2857 4.77369H17.8571V16.9165C17.8571 18.8887 16.2578 20.488 14.2857 20.488H5.71422C3.74208 20.488 2.1428 18.8887 2.1428 16.9165V4.77369H0.714225C0.319939 4.77369 -6.10352e-05 4.45369 -6.10352e-05 4.0594C-6.10352e-05 3.66512 0.319939 3.34512 0.714225 3.34512H5.71422V2.63083ZM7.1428 3.34512H12.8571V2.63083C12.8571 2.23655 12.5371 1.91655 12.1428 1.91655H7.85708C7.4628 1.91655 7.1428 2.23655 7.1428 2.63083V3.34512ZM3.57137 4.77369V16.9165C3.57137 18.1001 4.53065 19.0594 5.71422 19.0594H14.2857C15.4692 19.0594 16.4285 18.1001 16.4285 16.9165V4.77369H3.57137ZM9.99994 6.91655C10.3942 6.91655 10.7142 7.23655 10.7142 7.63083V16.2023C10.7142 16.5965 10.3942 16.9165 9.99994 16.9165C9.60565 16.9165 9.28565 16.5965 9.28565 16.2023V7.63083C9.28565 7.23655 9.60565 6.91655 9.99994 6.91655Z" fill="#FF0000" />
                      </svg>
              tr 
                td(data-call-modal="info-user-modal") Дмитрий А. В.
                td(style="justify-content: flex-end;") 
                  .table-controls
                    button.btn-edit(data-call-modal="edit-user-modal") 
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7092 1.75083C14.3685 0.0908289 17.0599 0.0908289 18.7192 1.75083C20.3792 3.41011 20.3792 6.10083 18.7192 7.76083L7.43851 19.0416H19.2857C19.6799 19.0416 19.9999 19.3609 19.9999 19.7559C19.9999 20.1501 19.6799 20.4701 19.2857 20.4701H0.714225C0.319939 20.4701 -6.10352e-05 20.1501 -6.10352e-05 19.7559V14.7559C-6.10352e-05 14.5666 0.0749602 14.3844 0.209246 14.2508L12.7092 1.75083ZM5.41851 19.0416L15.0614 9.39871L11.0714 5.40871L1.42851 15.0516V19.0416H5.41851ZM12.0814 4.39871L16.0714 8.38871L17.7092 6.75083C18.8107 5.64869 18.8107 3.86226 17.7092 2.76083C16.6071 1.65869 14.8213 1.65869 13.7192 2.76083L12.0814 4.39871Z" fill="#2995E2" />
                      </svg>
                    button.btn-delete(data-call-modal="delete-user-modal")
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.71422 2.63083C5.71422 1.44726 6.67351 0.487976 7.85708 0.487976H12.1428C13.3264 0.487976 14.2857 1.44726 14.2857 2.63083V3.34512H19.2857C19.6799 3.34512 19.9999 3.66512 19.9999 4.0594C19.9999 4.45369 19.6799 4.77369 19.2857 4.77369H17.8571V16.9165C17.8571 18.8887 16.2578 20.488 14.2857 20.488H5.71422C3.74208 20.488 2.1428 18.8887 2.1428 16.9165V4.77369H0.714225C0.319939 4.77369 -6.10352e-05 4.45369 -6.10352e-05 4.0594C-6.10352e-05 3.66512 0.319939 3.34512 0.714225 3.34512H5.71422V2.63083ZM7.1428 3.34512H12.8571V2.63083C12.8571 2.23655 12.5371 1.91655 12.1428 1.91655H7.85708C7.4628 1.91655 7.1428 2.23655 7.1428 2.63083V3.34512ZM3.57137 4.77369V16.9165C3.57137 18.1001 4.53065 19.0594 5.71422 19.0594H14.2857C15.4692 19.0594 16.4285 18.1001 16.4285 16.9165V4.77369H3.57137ZM9.99994 6.91655C10.3942 6.91655 10.7142 7.23655 10.7142 7.63083V16.2023C10.7142 16.5965 10.3942 16.9165 9.99994 16.9165C9.60565 16.9165 9.28565 16.5965 9.28565 16.2023V7.63083C9.28565 7.23655 9.60565 6.91655 9.99994 6.91655Z" fill="#FF0000" />
                      </svg>
              tr 
                td(data-call-modal="info-user-modal") Дмитрий А. В.
                td(style="justify-content: flex-end;") 
                  .table-controls
                    button.btn-edit(data-call-modal="edit-user-modal") 
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7092 1.75083C14.3685 0.0908289 17.0599 0.0908289 18.7192 1.75083C20.3792 3.41011 20.3792 6.10083 18.7192 7.76083L7.43851 19.0416H19.2857C19.6799 19.0416 19.9999 19.3609 19.9999 19.7559C19.9999 20.1501 19.6799 20.4701 19.2857 20.4701H0.714225C0.319939 20.4701 -6.10352e-05 20.1501 -6.10352e-05 19.7559V14.7559C-6.10352e-05 14.5666 0.0749602 14.3844 0.209246 14.2508L12.7092 1.75083ZM5.41851 19.0416L15.0614 9.39871L11.0714 5.40871L1.42851 15.0516V19.0416H5.41851ZM12.0814 4.39871L16.0714 8.38871L17.7092 6.75083C18.8107 5.64869 18.8107 3.86226 17.7092 2.76083C16.6071 1.65869 14.8213 1.65869 13.7192 2.76083L12.0814 4.39871Z" fill="#2995E2" />
                      </svg>
                    button.btn-delete(data-call-modal="delete-user-modal")
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.71422 2.63083C5.71422 1.44726 6.67351 0.487976 7.85708 0.487976H12.1428C13.3264 0.487976 14.2857 1.44726 14.2857 2.63083V3.34512H19.2857C19.6799 3.34512 19.9999 3.66512 19.9999 4.0594C19.9999 4.45369 19.6799 4.77369 19.2857 4.77369H17.8571V16.9165C17.8571 18.8887 16.2578 20.488 14.2857 20.488H5.71422C3.74208 20.488 2.1428 18.8887 2.1428 16.9165V4.77369H0.714225C0.319939 4.77369 -6.10352e-05 4.45369 -6.10352e-05 4.0594C-6.10352e-05 3.66512 0.319939 3.34512 0.714225 3.34512H5.71422V2.63083ZM7.1428 3.34512H12.8571V2.63083C12.8571 2.23655 12.5371 1.91655 12.1428 1.91655H7.85708C7.4628 1.91655 7.1428 2.23655 7.1428 2.63083V3.34512ZM3.57137 4.77369V16.9165C3.57137 18.1001 4.53065 19.0594 5.71422 19.0594H14.2857C15.4692 19.0594 16.4285 18.1001 16.4285 16.9165V4.77369H3.57137ZM9.99994 6.91655C10.3942 6.91655 10.7142 7.23655 10.7142 7.63083V16.2023C10.7142 16.5965 10.3942 16.9165 9.99994 16.9165C9.60565 16.9165 9.28565 16.5965 9.28565 16.2023V7.63083C9.28565 7.23655 9.60565 6.91655 9.99994 6.91655Z" fill="#FF0000" />
                      </svg>
              tr 
                td(data-call-modal="info-user-modal") Дмитрий А. В.
                td(style="justify-content: flex-end;") 
                  .table-controls
                    button.btn-edit(data-call-modal="edit-user-modal") 
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7092 1.75083C14.3685 0.0908289 17.0599 0.0908289 18.7192 1.75083C20.3792 3.41011 20.3792 6.10083 18.7192 7.76083L7.43851 19.0416H19.2857C19.6799 19.0416 19.9999 19.3609 19.9999 19.7559C19.9999 20.1501 19.6799 20.4701 19.2857 20.4701H0.714225C0.319939 20.4701 -6.10352e-05 20.1501 -6.10352e-05 19.7559V14.7559C-6.10352e-05 14.5666 0.0749602 14.3844 0.209246 14.2508L12.7092 1.75083ZM5.41851 19.0416L15.0614 9.39871L11.0714 5.40871L1.42851 15.0516V19.0416H5.41851ZM12.0814 4.39871L16.0714 8.38871L17.7092 6.75083C18.8107 5.64869 18.8107 3.86226 17.7092 2.76083C16.6071 1.65869 14.8213 1.65869 13.7192 2.76083L12.0814 4.39871Z" fill="#2995E2" />
                      </svg>
                    button.btn-delete(data-call-modal="delete-user-modal")
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.71422 2.63083C5.71422 1.44726 6.67351 0.487976 7.85708 0.487976H12.1428C13.3264 0.487976 14.2857 1.44726 14.2857 2.63083V3.34512H19.2857C19.6799 3.34512 19.9999 3.66512 19.9999 4.0594C19.9999 4.45369 19.6799 4.77369 19.2857 4.77369H17.8571V16.9165C17.8571 18.8887 16.2578 20.488 14.2857 20.488H5.71422C3.74208 20.488 2.1428 18.8887 2.1428 16.9165V4.77369H0.714225C0.319939 4.77369 -6.10352e-05 4.45369 -6.10352e-05 4.0594C-6.10352e-05 3.66512 0.319939 3.34512 0.714225 3.34512H5.71422V2.63083ZM7.1428 3.34512H12.8571V2.63083C12.8571 2.23655 12.5371 1.91655 12.1428 1.91655H7.85708C7.4628 1.91655 7.1428 2.23655 7.1428 2.63083V3.34512ZM3.57137 4.77369V16.9165C3.57137 18.1001 4.53065 19.0594 5.71422 19.0594H14.2857C15.4692 19.0594 16.4285 18.1001 16.4285 16.9165V4.77369H3.57137ZM9.99994 6.91655C10.3942 6.91655 10.7142 7.23655 10.7142 7.63083V16.2023C10.7142 16.5965 10.3942 16.9165 9.99994 16.9165C9.60565 16.9165 9.28565 16.5965 9.28565 16.2023V7.63083C9.28565 7.23655 9.60565 6.91655 9.99994 6.91655Z" fill="#FF0000" />
                      </svg>
              tr 
                td(data-call-modal="info-user-modal") Дмитрий А. В.
                td(style="justify-content: flex-end;") 
                  .table-controls
                    button.btn-edit(data-call-modal="edit-user-modal") 
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7092 1.75083C14.3685 0.0908289 17.0599 0.0908289 18.7192 1.75083C20.3792 3.41011 20.3792 6.10083 18.7192 7.76083L7.43851 19.0416H19.2857C19.6799 19.0416 19.9999 19.3609 19.9999 19.7559C19.9999 20.1501 19.6799 20.4701 19.2857 20.4701H0.714225C0.319939 20.4701 -6.10352e-05 20.1501 -6.10352e-05 19.7559V14.7559C-6.10352e-05 14.5666 0.0749602 14.3844 0.209246 14.2508L12.7092 1.75083ZM5.41851 19.0416L15.0614 9.39871L11.0714 5.40871L1.42851 15.0516V19.0416H5.41851ZM12.0814 4.39871L16.0714 8.38871L17.7092 6.75083C18.8107 5.64869 18.8107 3.86226 17.7092 2.76083C16.6071 1.65869 14.8213 1.65869 13.7192 2.76083L12.0814 4.39871Z" fill="#2995E2" />
                      </svg>
                    button.btn-delete(data-call-modal="delete-user-modal")
                      <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.71422 2.63083C5.71422 1.44726 6.67351 0.487976 7.85708 0.487976H12.1428C13.3264 0.487976 14.2857 1.44726 14.2857 2.63083V3.34512H19.2857C19.6799 3.34512 19.9999 3.66512 19.9999 4.0594C19.9999 4.45369 19.6799 4.77369 19.2857 4.77369H17.8571V16.9165C17.8571 18.8887 16.2578 20.488 14.2857 20.488H5.71422C3.74208 20.488 2.1428 18.8887 2.1428 16.9165V4.77369H0.714225C0.319939 4.77369 -6.10352e-05 4.45369 -6.10352e-05 4.0594C-6.10352e-05 3.66512 0.319939 3.34512 0.714225 3.34512H5.71422V2.63083ZM7.1428 3.34512H12.8571V2.63083C12.8571 2.23655 12.5371 1.91655 12.1428 1.91655H7.85708C7.4628 1.91655 7.1428 2.23655 7.1428 2.63083V3.34512ZM3.57137 4.77369V16.9165C3.57137 18.1001 4.53065 19.0594 5.71422 19.0594H14.2857C15.4692 19.0594 16.4285 18.1001 16.4285 16.9165V4.77369H3.57137ZM9.99994 6.91655C10.3942 6.91655 10.7142 7.23655 10.7142 7.63083V16.2023C10.7142 16.5965 10.3942 16.9165 9.99994 16.9165C9.60565 16.9165 9.28565 16.5965 9.28565 16.2023V7.63083C9.28565 7.23655 9.60565 6.91655 9.99994 6.91655Z" fill="#FF0000" />
                      </svg>
          .adaptive-cards 
            .adaptive-card
              .adaptive-card__row(data-call-modal="info-user-modal") 
                p ФИО пользователя
                p Дмитрий А. В.
              .adaptive-card__controls
                button.btn-edit(data-call-modal="edit-user-modal") 
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M12.7092 1.75083C14.3685 0.0908289 17.0599 0.0908289 18.7192 1.75083C20.3792 3.41011 20.3792 6.10083 18.7192 7.76083L7.43851 19.0416H19.2857C19.6799 19.0416 19.9999 19.3609 19.9999 19.7559C19.9999 20.1501 19.6799 20.4701 19.2857 20.4701H0.714225C0.319939 20.4701 -6.10352e-05 20.1501 -6.10352e-05 19.7559V14.7559C-6.10352e-05 14.5666 0.0749602 14.3844 0.209246 14.2508L12.7092 1.75083ZM5.41851 19.0416L15.0614 9.39871L11.0714 5.40871L1.42851 15.0516V19.0416H5.41851ZM12.0814 4.39871L16.0714 8.38871L17.7092 6.75083C18.8107 5.64869 18.8107 3.86226 17.7092 2.76083C16.6071 1.65869 14.8213 1.65869 13.7192 2.76083L12.0814 4.39871Z" fill="#2995E2" />
                  </svg>
                button.btn-delete(data-call-modal="delete-user-modal")
                  <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M5.71422 2.63083C5.71422 1.44726 6.67351 0.487976 7.85708 0.487976H12.1428C13.3264 0.487976 14.2857 1.44726 14.2857 2.63083V3.34512H19.2857C19.6799 3.34512 19.9999 3.66512 19.9999 4.0594C19.9999 4.45369 19.6799 4.77369 19.2857 4.77369H17.8571V16.9165C17.8571 18.8887 16.2578 20.488 14.2857 20.488H5.71422C3.74208 20.488 2.1428 18.8887 2.1428 16.9165V4.77369H0.714225C0.319939 4.77369 -6.10352e-05 4.45369 -6.10352e-05 4.0594C-6.10352e-05 3.66512 0.319939 3.34512 0.714225 3.34512H5.71422V2.63083ZM7.1428 3.34512H12.8571V2.63083C12.8571 2.23655 12.5371 1.91655 12.1428 1.91655H7.85708C7.4628 1.91655 7.1428 2.23655 7.1428 2.63083V3.34512ZM3.57137 4.77369V16.9165C3.57137 18.1001 4.53065 19.0594 5.71422 19.0594H14.2857C15.4692 19.0594 16.4285 18.1001 16.4285 16.9165V4.77369H3.57137ZM9.99994 6.91655C10.3942 6.91655 10.7142 7.23655 10.7142 7.63083V16.2023C10.7142 16.5965 10.3942 16.9165 9.99994 16.9165C9.60565 16.9165 9.28565 16.5965 9.28565 16.2023V7.63083C9.28565 7.23655 9.60565 6.91655 9.99994 6.91655Z" fill="#FF0000" />
                  </svg>
          .table-pagination 
            a.table-pagination__back(href="#") 
              <svg width="24" height="28" viewBox="0 0 24 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 23.6095C14.81 23.6095 14.62 23.5308 14.47 23.362L7.95 16.027C6.89 14.8345 6.89 12.877 7.95 11.6845L14.47 4.3495C14.76 4.02325 15.24 4.02325 15.53 4.3495C15.82 4.67575 15.82 5.21575 15.53 5.542L9.01 12.877C8.53 13.417 8.53 14.2945 9.01 14.8345L15.53 22.1695C15.82 22.4958 15.82 23.0358 15.53 23.362C15.38 23.5195 15.19 23.6095 15 23.6095Z" fill="#DBDBDB" />
              </svg>
            .table-pagination__pages 
              a.table-pagination__page.active(href="#") 1
              a.table-pagination__page(href="#") 2
              a.table-pagination__page(href="#") 3
              a.table-pagination__page(href="#") 4
            a.table-pagination__next(href="#")
              <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1.44876 17.5245C1.25876 17.5245 1.06876 17.4545 0.918763 17.3045C0.628763 17.0145 0.628763 16.5345 0.918763 16.2445L7.43876 9.7245C7.91876 9.2445 7.91876 8.4645 7.43876 7.9845L0.918763 1.4645C0.628763 1.1745 0.628763 0.694496 0.918763 0.404496C1.20876 0.114496 1.68876 0.114496 1.97876 0.404496L8.49876 6.9245C9.00876 7.4345 9.29876 8.1245 9.29876 8.8545C9.29876 9.5845 9.01876 10.2745 8.49876 10.7845L1.97876 17.3045C1.82876 17.4445 1.63876 17.5245 1.44876 17.5245Z" fill="#DBDBDB" />
              </svg>